
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <th:block th:insert="~{fragments/template :: link}"></th:block>

</head>
<body>
<header>
    <th:block th:insert="~{fragments/template :: navigation}"></th:block>
</header>
<link href="/css/styleEdit.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<main>
    <div class="container" style="margin-top: 50px;">
        <div>
            <h1 class="center-align">Наши услуги</h1>
            <article>
                <div>
                    <h3 class="title">Международные грузоперевозки</h3>
                </div>
                <div class="message">
                    <p>Международные автомобильные грузоперевозки - профессиональная специализация компании, которая работает на рынке долгие годы.</p><p><img src="https://cdn.iz.ru/sites/default/files/article-2020-02/1_1.jpg" alt="автоперевозки в страны СНГ" width="350" height="175" style="float:left;margin:5px 15px 5px 3px;width:270px;height:135px"></p><p>Мы используем современные технологии грузоперевозок, располагаем постоянно расширяющейся сетью логистических партнеров, собственной логистической службой и обширным парком грузового транспорта, что позволяет нам доставлять любые виды грузов - негабаритные, длинномерные, комплектные, сборные, ценные, хрупкие, опасные, скоропортящиеся, по наиболее популярным логистическим маршрутам.</p><h2>Международные перевозки</h2><p>Мы предлагаем своим клиентам услуги международных перевозок грузов в страны Таможенного Союза, Западной и Восточной Европы на исключительно комфортных условиях!</p><ul class="listrong">
                    <li>Из (в) страны СНГ</li>
                </ul>
                    <p>Россия (дважды в неделю, а также экспресс-доставка грузов из Москвы и Санкт-Петербурга в Минск), Казахстан, Украина.</p><ul class="listrong">
                    <li>Из (в) страны Прибалтики</li>
                </ul>
                    <p>Литва, Латвия, Эстония.</p><ul class="listrong">
                    <li>Из (в) страны Европы</li>
                </ul>
                    <p>Польша, Чехия, Венгрия, Германия, Австрия, Бельгия, Голландия, Италия, Франция, Испания.</p><ul class="listrong">
                    <li>Из (в) страны Скандинавии</li>
                </ul>
                    <p>Финляндия, Швеция.</p>
                    <p><img src="https://i1.7fon.org/thumb/b5424.jpg" alt="доставка грузов из Беларуси"></p>
                    <h3>Как мы делаем это?</h3><p><strong>Обращайтесь в нашу компанию"!&nbsp;</strong></p><p>Это может быть звонок, письмо, личное обращение или заявка, оставленная на сайте. Наши специалисты сформулируют все условия доставки груза и бесплатно рассчитают оптимальный маршрут, удобную схему и экономичную смету грузоперевозки.&nbsp;</p><p>Подберут оптимальный транспорт:</p><ul><li>большегрузная тентованная фура;</li><li>полуприцеп;</li><li>длинномерный или низкорамный тягач;</li><li>рефрижератор;</li><li>изотермический фургон;</li><li>малотоннажный автомобиль.</li></ul>
                    <p>На основании заключенного договора:</p>
                    <ul>
                        <li>Подготовят пакет сопроводительных документов и документы для прохождения таможенного контроля.</li>
                        <li>Помогут застраховать груз.</li>
                        <li>Обеспечат экспедирование и контроль груза в дороге и на таможне.</li>
                    </ul><p><img src="https://pic.rutube.ru/user/45/3e/453e9a22bacbfd8d2331c66722d837f2.jpg" alt="услуги автоперевозок" style="border:0px #000000;float:right;width:124px;height:140px;margin:4px 3px 4px 11px"></p><p><strong>Для вас также - консолидированные склады ответственного хранения</strong> в Белостоке (Польша) и Людвигсвельде (Германия), контроль местонахождения груза в режиме реального времени, скидки на постоянное сотрудничество и гарантия «ТИРекслайн» на полную сохранность груза!</p><p><em>Наши международные автоперевозки - это высокие стандарты обслуживания и максимум внимания к клиенту!</em></p>			</div>

                <div class="button-margin">
                    <a href="#calculateForm" class="showFancy button24" onclick="ga('send', 'event', 'knopka2', 'zapros_mezhdunarodnye', {'nonInteraction':1}); yaCounter27134963.reachGoal('proshet_mezhdunarodnye'); " value="Запрос_Международные">Рассчитать стоимость</a>
                </div>
            </article>
        </div>
    </div>
</main>
<th:block th:insert="~{fragments/template :: footer}"></th:block>
<th:block th:insert="~{fragments/template :: script}"></th:block>


</body>
</html>