<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список пользователей</title>
</head>
<body>
<h2>Список пользователей</h2>
<div th:unless="${#lists.isEmpty(users)}" class="blockList" >
    <table>
        <thead>
            <tr th:each="user: ${users}">
                <td th:text="${user.username}"></td>
                <td th:text="${user.getRoles()}"></td>
                <td><a href="/user/${user.id}">изменить</a></td>
            </tr>
        </thead>
    </table>

</div>
</table>
</body>
</html>