<div th:fragment="header">
  <nav class="py-2 bg-light border-bottom">
    <div class="container d-flex flex-wrap">
      <ul class="nav me-auto">
        <li class="nav-item"><a href="/" class="nav-link link-dark px-2 active" aria-current="page">Bekolit</a></li>
        <li class="nav-item"><a href="/" class="nav-link link-dark px-2">Главная</a></li>
        <li class="nav-item"><a href="/aboutUs" class="nav-link link-dark px-2">О нас</a></li>
        <li class="nav-item"><a href="/services" class="nav-link link-dark px-2">Услуги</a></li>
        <li class="nav-item"><a href="/contacts" class="nav-link link-dark px-2">Контакты</a></li>
      </ul>
      <ul class="nav">
        <li class="nav-item"><a href="/login" class="nav-link link-dark px-2">Войти</a></li>
      </ul>
    </div>
  </nav>
</div>
